.linkedin-primary-btn {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.linkedin-secondary-btn {
    background-color: white;
    color: rgb(10, 102, 194);
    border: 2px solid rgb(10, 102, 194);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
